body {
    background-color: #282828;
    color: #FFFFFF;
    margin: 0;
}

a {
    color: #2345BB;
}

button {
    cursor: pointer;
    background: none;
}

.blue:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.blue {
    color: #456BF0;
    background: none;
    border: none;
    font-size: 14px;
    padding: 100px 200px;
}

header {
    top: 0;
    width: 100%;
}

.header_menu {
    position: absolute;
    width: 100%;
    height: 17px;
    left: 460.5px;
    top: 44.16px;
}

.header_btn {
    position: center;
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
}

.header_btn:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.main_page {
    position: absolute;
    width: 100%;
    height: 652px;
    top: 108px;

    border-top: 1px solid #676767;
}

.main_menu {
    position: absolute;
    width: 650px;
    height: 652px;
    left: 146px;
    transform: rotate(-90deg);
    top: -2px;
}

.main_menu_button {
    background: none;
    border: 1px solid #676767;
    width: 100%;
    height: 100px;
    flex-direction: row;
    font-size: 18px;
    color: #FFFFFF;
}

.main_menu_button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.about_me {
    position: absolute;
    width: 672.61px;
    height: 372.22px;
    left: 388.5px;
    top: 234.04px;
}

.about_me_text {
    position: absolute;
    width: 458px;
    height: 196px;
    left: 0;
    top: 18.27px;
    z-index: 3;
}

.about_me_images {
    z-index: 0;
    position: absolute;
    width: 382.61px;
    height: 372.22px;
    left: 290px;
    top: 0;
}

.about_me_photo {

    /*TODO change photos parameters*/

    position: absolute;
    width: 291.12px;
    height: 291.12px;
    left: 90px;
    top: 15.67px;

    background: url('../img/MyPhoto.png');
    transform: rotate(15deg);
}


.about_me_background {
    z-index: -1;
    box-sizing: border-box;

    position: absolute;
    width: 291.12px;
    height: 291.12px;
    left: 116.06px;
    top: 0;

    background: #2345BB;
    border: 1px solid #2345BB;
    transform: rotate(15deg);
}

.eclipse {
    position: absolute;
    width: 566.97px;
    height: 337.78px;
    left: 1002.77px;
    top: 546.29px;

    background: linear-gradient(90deg, #456BF0 0%, #456BF0 100%);
    border-radius: 500px/300px;
    filter: blur(150px);
}

#project1, #project2, #project3, #project4 {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0;
    top: 757px;

    border-top: 1px solid #676767;
}
#project2 {
    top: 1257px;
}

#project3 {
    top: 1757px;
}

#project4 {
    top: 2257px;
}

.project_text {
    position: absolute;
    width: 458px;
    height: 196px;
    left: 150px;
    top: 111px;
    z-index: 3;
}

.svg {
    width: 20px;
    height: 20px;
    color: #456BF0;
    transform: rotate(180deg);

    /* TODO change svg color*/

}

footer {
    position: absolute;
    width: 100%;
    height: 1441px;
    left: 0;
    top: 2757px;;
    background-color: #262626;
}